html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

#wrapper {
  min-height: 100%;
  position: relative; }

#body {
  padding-bottom: 80px;
  /* Height of the footer */ }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  /* Height of the footer */
  background: #383838;
  line-height: 80px;
  font-size: 14px;
  color: white; }
  #footer .element {
    padding: 0 15px;
    display: inline-block; }
