{% extends "base.html" %}
{% load i18n %}

{% block head %}
  {% load scss %}
  <link href="{{ STATIC_URL }}{% scss 'scss/login.scss' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="alert alert-success">Your account has now been activated! Please login below!</div>
  <div class="form-wrapper">
    <div class="form-container">
      <div class="title">Welcome To uClarify</div>
      {% if form.errors %}
        <div class="error">Your email or password is incorrect</div>
      {% endif %}
      <form method="post" action=".">
        {% csrf_token %}
        <input name="{{ form.username.html_name }}" id="id_username" class="form-control" type="text"
               placeholder="Email"/>
        <input name="{{ form.password.html_name }}" id="id_password" class="form-control" type="password"
               placeholder="Password"/>
        <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Log in' %}"/>

        <div class="remember_me">
          <input name="{{ form.remember_me.html_name }}" id="id_remember_me" type="checkbox"> Stay Signed In
        </div>
        <input type="hidden" name="next" value="{{ next }}"/>
      </form>
      <div class="other_options">
        <span class="forgot_password"><a
            href="{% url 'auth_password_reset' %}">{% trans "Forgot password" %}?</a></span>
        <span class="register"><a href="{% url 'registration_register' %}">{% trans "Not a member" %}?</a></span>
      </div>

      <div class="linkedin"><a href="{% url "social:begin" "linkedin" %}?next={{ request.GET.next }}"><img
          src="/static/images/linkedin.png"></a></div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{{ STATIC_URL }}js/get_url.js" type='text/javascript'></script>
  <script type="text/javascript">
    $(document).ready(function () {
      var activation = GetUrlValue('activation');
      if (activation == 1) {
        $(".alert").show();
      }
    });
  </script>
{% endblock %}