body {
  background-color: #F5F8FA;
}

.main-heading {
  text-align: center;
  margin-top: 80px;
  font-size: 44px;
  font-weight: 300;
}

.sub-heading {
  text-align: center;
  margin-top: 10px;
  font-size: 28px;
  font-weight: 300;
}

.go-home {
  margin-top: 40px;
  text-align: center;
}

