{% if analysts %}
  {% for analyst in analysts %}
    <div class="row element">
      <div class="col-md-2">
        <img src="http://bit.ly/NIhdeX" class="img-rounded">
      </div>
      <div class="col-md-3 description-col">
        <div class="name"><a href='{% url "analyst_details" analyst.object.id %}'>{{ analyst.first_name }} {{ analyst.last_name }}</a></div>
        <div class="rating">insert rating</div>
        <div class="company">{{ analyst.analyst_firm }}</div>
      </div>
      <div class="col-md-7 review-col">
        <div class="description-title">Recent Review</div>
        <div class="description">
          <i class="fa fa-quote-left fa-border"></i>
          Herpy derpy deprprpprp Herpy derpy deprprpprp Herpy derpy deprprpprp.
          Herpy derpy deprprpprp Herpy derpy deprprpprp Herpy derpy deprprpprp.
          Herpy derpy deprprpprp Herpy derpy deprprpprp Herpy derpy deprprpprp.
        </div>
      </div>
    </div>

    {% if not forloop.last %}
      <div class="divider"></div>
    {% endif %}
  {% endfor %}
{% else %}
  <div class="no-results">Sorry, no results were found.</div>
{% endif %}