{% for analyst in analysts %}
<div class="row analyst">
    <div class="col-md-2">
        <img src="http://bit.ly/NIhdeX" class="img-rounded">
    </div>
    <div class="col-md-3 description-col">
        <div class="name">{{ analyst.first_name }} {{ analyst.last_name }}</div>
        <div class="rating">insert rating</div>
        <div class="company">{{ analyst.analyst_firm }}</div>
    </div>
    <div class="col-md-7 review-col">
        <div class="recent-title">Most Recent Review</div>
        <div class="review">
            <i class="fa fa-quote-left fa-border"></i>
            Herpy derpy deprprpprp Herpy derpy deprprpprp Herpy derpy deprprpprp.
            Herpy derpy deprprpprp Herpy derpy deprprpprp Herpy derpy deprprpprp.
            Herpy derpy deprprpprp Herpy derpy deprprpprp Herpy derpy deprprpprp.
        </div>
    </div>
</div>
<div class="divider"></div>
{% endfor %}

