{% if analyst_firms %}
  {% for analyst_firm in analyst_firms %}
    <div class="row element">
      <div class="col-md-2">
        {% if analyst_firm.object.photo %}
          <img src="{{ analyst_firm.object.photo.url }}" class="img-rounded">
        {% else %}
          <img src="http://blog.rmi.org/Content/Images/officebuilding.jpg" class="img-rounded">
        {% endif %}
      </div>
      <div class="col-md-3 description-col">
        <div class="name">{{ analyst_firm.name }}</div>
        <div class="rating">insert rating</div>
      </div>
      <div class="col-md-7 review-col">
        <div class="description-title">Description</div>
        <div class="description">
          {{ analyst_firm.description|truncatechars:280 }}
        </div>
      </div>
    </div>

    {% if not forloop.last %}
      <div class="divider"></div>
    {% endif %}
  {% endfor %}
{% else %}
  <div class="no-results">Sorry, no results were found.</div>
{% endif %}