<div id="sidebar">
  <div id="refine-results">
    Refine Results
  </div>

  <form id="sidebar-form" action="{% url "ajax_search" %}">
    <div id="search-box" class="section">
      <input id="query-id" type="input" name="query" class="form-control" placeholder="Enter search query"
             value="{{ query }}"/>
      <i id="cancel-query" class="fa fa-times-circle"></i>
    </div>

    <div id="specialization" class="section type analyst-type">
      <div class="title">Specialization</div>
      <select id="specialization-id" name="specialization" class="form-control">
          <option>All</option>
        {% for specialization in specializations %}
          <option value='{{ specialization.pk }}'>{{ specialization.name }}</option>
        {% endfor %}
      </select>
    </div>

  </form>
</div>