<div id="sidebar">
    <div id="refine-results">
        Refine Results
    </div>
    <div id="search-box" class="section">
        <input type="input" class="form-control" placeholder="Enter search query"/>
    </div>

    <div id="rating" class="section">
        <div class="title">
            Ratings
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            5 star
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            4 star
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            3 star
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            2 star
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            1 star
          </label>
        </div>
    </div><!-- ./rating -->

    <div id="specialization" class="section">
        <div class="title">Specialization</div>
        <select class="form-control">
          <option>Marketing Solutions</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
    </div>
</div>