<div id="sidebar">
  <div id="refine-results">
    Refine Results
  </div>

  <form id="sidebar-form" action="{% url "ajax_search" %}">
    <div id="search-box" class="section">
      <input id="query-id" type="input" name="query" class="form-control" placeholder="Enter search query"
             value="{{ query }}"/>
      <i id="cancel-query" class="fa fa-times-circle"></i>
    </div>

    <div id="specialization" class="section">
      <div class="title">Specialization</div>
      <select name="specialization" class="form-control">
        <option>Marketing Solutions</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

  </form>
</div>