@import "base.scss";

body {
  background-color: $grey_background;
}

.profile-container {

  margin-top: 20px;
  margin-bottom: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  overflow: hidden;
  min-height: 590px;

  .profile {
    padding-top: 20px;
    padding-bottom: 99999px;
    margin-bottom: -99999px;

    background-color: #f7f7f7;
    border-right: 1px solid #dfdfdf;

    .profile-pic {
      img {
        height: 220px;
        width: 220px;
      }
    }

    .basic-info {
      margin-top: 10px;

      .name {
        font-size: 24px;
        font-weight: 400;
      }

      .firm {
        font-size: 16px;
        font-weight: 400;
        margin-top: -5px;
      }

      .rating {
        margin-top: 10px;
        display: inline-block;
        .no-rating {
          font-style: italic;
          color: $dark_grey;
        }
        .rating-summary {
          margin-left: 5px;
          display: inline-block;
          .num-reviews {
            font-size: 14px;
            display: inline-block;
            color: $dark_grey;
            margin-left: 3px;
          }
        }

        .rating-wrapper {
          margin-top: 10px;
          .description {
            font-size: 14px;
            color: #818181;
          }
          .rating-bar {
            margin-bottom: 6px;
            height: 8px;
            width: 120px;
            background-color: #d4d4d4;
            .fill {
              background-color: $blue;
              height: 8px;
            }
          }
          .tooltip {
            width: 100px;
          }
        }
      }

      #write-review-btn {
        margin-top: 15px;
        font-size: 16px;
        i {
          display: inline-block;
          margin-left: 5px;
        }
      }

      .review-button {

        &:hover {
          background-color: $blue;
        }

        text-align: center;
        margin: auto;
        margin-top: 30px;
        width: 125px;
        cursor: pointer;
        border-radius: 10px;
        background-color: $dark_blue;

        .button-content {
          color: white;
          padding: 10px;
        }
      }

    }
  }

  .reviews-container {
    background-color: white;
     margin-bottom: -99999px;
    padding-bottom: 99999px;
    .reviews-title {
      margin-top: 20px;
      margin-left: 15px;
      //color: $blue;
      font-weight: 400;
      font-size: 24px;
      span {
        color: $default_color;
      }
    }

    .nav {
      margin-top: 20px;
      font-size: 18px;

      .active {
        font-weight: bold;
      }
    }

    #sort {
      margin-top: 10px;
      margin-bottom: 15px;
      margin-left: 5px;
      .active.sort-option {
        color: black;
        font-size: 14px;
        font-weight: bold;
        &:hover {
          cursor: auto;
          text-decoration: none;
        }
      }
      .sort-option {
        font-size: 14px;
        display: inline-block;
        margin-left: 10px;
        color: $dark_blue;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    .reviews-list {

      .divider {
        border-bottom: 1px solid gainsboro;
      }

      .review {
        margin: 20px 0 20px 0;
        .overall {
          margin-bottom: 5px;

          .date {
            font-size: 1px;
            color: #818181;
          }
        }

        .rating-wrapper {
          .description {
            font-size: 11px;
            color: #818181;
          }
          .rating-bar {
            margin-bottom: 4px;
            height: 5px;
            width: 80px;
            background-color: #d4d4d4;
            .fill {
              background-color: $blue;
              height: 5px;
            }
          }
          .tooltip {
            width: 100px;
          }
        }

        .review-headline {

          img {
            height: 50px;
            width: 50px;
          }

          .review-title {
            margin-left: 10px;
            display: inline-block;
            vertical-align: top;

            .strength-wrapper {
              font-size: 18px;
              .strength {
                font-style: italic;
                border-bottom: 1px #6d6d6d dotted;
              }
            }

            .review-by {
              font-size: 14px;
            }
          }
        }

        .review-content {
          margin-top: 15px;
          clear: left;
        }

        .helpful {
          margin-top: 20px;
          font-size: 14px;

          .feedback {
            margin-left: 10px;
          }
        }

      }

      .no-reviews {
        margin-top: 40px;
        text-align: center;
        font-size: 20px;
      }
    }

  }

}