$blue: #2DA1FF;
$dark_blue: #428bca;
$light_blue: rgb(45, 161, 255);
$default_color: rgb(51, 51, 51);
$dark_grey: #6d6d6d;
$grey_background: rgb(246, 246, 246);
$light_bg: #F5F8FA;
$input_highlight: rgb(107, 211, 255);

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  //make base font size larger cause font style is naturally small
}

.btn.btn-primary {
  background-color: #2DA1FF;
  &:hover {
    background-color: #2892e8;
  }
}

input[type="text"],input[type="password"], textarea {
  &:hover, &:focus {
    $input-box-shadow: none;
    -webkit-box-shadow: $input-box-shadow;
    -moz-box-shadow: $input-box-shadow;
    box-shadow: $input-box-shadow;
    border-color: rgb(107, 211, 255);
  }
}

a {
  color: $light_blue;
  &:hover {
    color: #2b79d1;
  }
}