.section1 {
  background: rgba(45,161,255, 0.1);
  //background-color: #EEEEEE;
  .columns {
    padding-top: 70px;
    padding-bottom: 70px;
    .title {
      font-size: 28px;
      color: #2DA1FF;
    }
    .sub-text {
      font-size: 16px;
      color: rgb(93, 93, 93);
    }
    .description {
      margin-top: 25px;
      font-size: 20px;
      line-height: 26px;
    }
  }
  .col-img {
    font-size: 120px;
    line-height: 300px;
  }
}