@import "base.scss";

.alert {
  text-align: center;
  display: none;
  margin-bottom: 0px;
}

.form-wrapper {
  text-align: center;
  margin-bottom: 20px;

  .form-container {
    padding: 20px 40px 40px 40px;
    background-color: #f7f7f7;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin-top: 80px;
    text-align: left;
    display: inline-block;

    .title {
      text-align: center;
      color: $blue;
      font-size: 24px;
      margin-top: 10px;
      margin-bottom: 30px;
    }

    .error {
      color: red;
    }

    #id_username,
    #id_password {
      font-size: 18px;
      padding: 5px 8px 5px 8px;
      width: 275px;
      height: 40px;
      margin-top: 7px;
    }

    input {
      display: table;
    }

    input[type="submit"] {
      margin-top: 20px;
    }

    .remember_me {
      margin-top: 10px;

      input#id_remember_me {
        display: initial;
      }
    }

    .other_options {
      margin-top: 20px;

      .register {
        float: right;
      }
    }

    .linkedin {
      margin-top: 15px;
      text-align: center;
    }

  }
}