@import "base.scss";

.form-wrapper {
  text-align: center;

  .form-container {
    padding: 30px 30px 30px 30px;
    background-color: #f7f7f7;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin: 30px 0 30px 0;
    text-align: left;
    display: inline-block;

    .title {
      text-align: center;
      color: $blue;
      font-size: 24px;
      margin-bottom:10px;
    }

    input {
      font-size: 18px;
      padding: 5px 8px 5px 8px;
      width: 275px;
      height: 40px;
      display: table;
    }

    .form-group {
      position: relative;
      overflow: auto;
      margin-bottom: 5px;
    }

    .form-control {
      margin-top: 20px;
    }

    label {
      display: block;
      text-transform: uppercase;
      color: #878787;
      font-size: 14px;
      position: absolute;
      top: 0;
      transition: top 200ms linear, color 200ms linear;
    }

    .form-control:invalid + label{
      color: transparent;
      top: 10px;
    }

    input[type="submit"] {
      background-color: $blue;
      color: white;
      width: 100%;
      border-radius: 5px;
      font-size: 18px;
      padding: 5px 0 5px 0;
      margin-top: 20px;
      height: 40px;
    }

    .remember_me {
      margin-top: 10px;

      input#id_remember_me {
        display: initial;
      }
    }

    .other_options {
      margin-top: 20px;

      .register {
        float: right;
      }
    }

    .linkedin {
      margin-top: 15px;
      text-align: center;
    }

  }
}