@import "base.scss";

body {
  background-color: $light_bg;
}

.form-wrapper {
  text-align: center;

  .form-container {
    padding: 30px 30px 30px 30px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 0px;
    margin: 30px 0 30px 0;
    text-align: left;
    display: inline-block;

    .title {
      text-align: center;
      color: $blue;
      font-size: 24px;
      margin-bottom: 10px;
    }

    input {
      font-size: 18px;
      padding: 5px 8px 5px 8px;
      width: 275px;
      height: 40px;
      display: table;
    }

    .form-column {
      float:left;
      margin-bottom: 20px;

      &.first {
        margin-right: 10px;
      }

      .form-group {
        position: relative;
        overflow: visible;
        margin-bottom: 5px;

        .form-control {
          margin-top: 20px;
          &:invalid + label{
              visibility: hidden;
              left: -20px;
          }
          input {
            z-index: 10;
          }
        }

        label {
          display: block;
          visibility: visible;
          text-transform: uppercase;
          color: #878787;
          font-size: 14px;
          position: absolute;
          top: -20px;
          left: 0px;
          transition: left 0.1s linear, visibility 0.1s linear;
          z-index: 0;
        }
      }
    }

    input[type="submit"] {
        background-color: $blue;
        clear: both;
        color: white;
        border-radius: 5px;
        font-size: 18px;
        padding: 5px 0 5px 0;
        margin: 0 auto;
        height: 40px;
      }

    .linkedin {
      margin-top: 15px;
      text-align: center;
    }

  }
}