@import "base.scss";

#header {
  padding: 30px 0;
  width: 100%;
  text-align: center;
  background-color: #2DA1FF;
  font-weight: 300;
  color: white;
  #title {
    font-size: 46px;
  }
  #sub {
    font-size: 22px;
  }
}

#profile {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 30px;
  display: table;
  margin: 0 auto;
  #photo {
    float: left;
    img {
      width: 150px;
      height: 150px;
    }
  }
  #info {
    float: left;
    font-weight: 300;
    margin-left: 20px;
    margin-top: 35px;
    #name {
      font-size: 40px;
      line-height: 40px;
    }
    #company {
      font-size: 22px;
      color: #6f6f6f;
    }
  }
}

.container {
  .section-label {
    font-weight: 300;
    .title {
      font-size: 40px;
      line-height: 40px;
    }
    .description {
      margin-top: 5px;
      color: #6f6f6f;
      font-size: 20px;
    }
  }

  .section-input {
    table {
      margin-bottom: 0;
      .rate-row {
        td {
          vertical-align: middle;
          &.rating-td {
            width: 100px;
          }
          .rating {
            display: inline-block;
          }
          .explanation {
            display: inline-block;
            margin-left: 20px;
            font-size: 18px;
          }
        }
      }
    }

    textarea {
      border: 2px solid #d0d8dc;
      border-radius: 0;
      font-size: 16px;
      &:focus, &:hover {
        $input-box-shadow: none;
        -webkit-box-shadow: $input-box-shadow;
        -moz-box-shadow: $input-box-shadow;
        box-shadow: $input-box-shadow;
        border-color: rgb(107, 211, 255);
      }
    }

    .btn.btn-white {
      $btn-height: 60px;

      height: $btn-height;
      line-height: $btn-height;
      padding: 0 15px;
      font-size: 14px;
      border: 1px solid #d0d0d0;
      i {
        display: inline-block;
        margin-right: 3px;
      }
      &.active {
        border: 1px solid rgb(107, 211, 255);
        $box-shadow: inset 0 3px 5px rgba(107, 211, 255, 0.5);
        -webkit-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
        box-shadow: $box-shadow;
        i {
          color: $blue;
        }
      }
      &.yes-no {
        padding: 0 25px;
        font-size: 18px;
      }
    }

    .btn-submit {
      margin-top: 40px;
      margin-bottom: 70px;
      padding-left: 50px;
      padding-right: 50px;
    }

  }

  hr.split-section {
    margin: 45px 0;
  }
}

.spacing {
  height: 100px;
}

body {
  //font-family: 'Open Sans', sans-serif !important;
}