@import "base.scss";
@import "write_review_fields.scss";

#header {
  padding: 30px 0;
  width: 100%;
  text-align: center;
  background-color: #2DA1FF;
  font-weight: 300;
  color: white;
  #title {
    font-size: 46px;
  }
  #sub {
    font-size: 22px;
  }
}

.analyst-name-row {
  margin-top: 50px;

  #autocomplete {
    width: 500px;
  }

}

select.form-control + .chosen-container.chosen-container-single .chosen-single {
  font-size: 22px;
  height: 46px;
  //background-position: ;
}

//this div is for the dropdown arrow
.chosen-single div {
  right: -5px !important;
  top: 8px !important;
}