{% extends "base.html" %}

{% block head %}
  {% load scss %}
  <link href="{{ STATIC_URL }}{% scss 'scss/analyst_details.scss' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container profile-container">
    <div class="row">
      <div class="profile col-md-3">
        <div class="col-md-12 profile-pic">
        {% if analyst.object.photo %}
          <img src="{{ analyst.object.photo.url }}" class="img-rounded">
        {% else %}
          <img src="http://paddocks.kwiksta.com/files/profile/default.jpg" class="img-rounded">
        {% endif %}
        </div>
        <div class="basic-info col-md-12">
          <div class="name">{{analyst.first_name}} {{analyst.last_name}}</div>
          <div class="firm">{{analyst.analyst_firm}}</div>
          <div class="rating"></div>
          <a id="write-review-btn" class="btn btn-primary btn-block" href="{% url "review_analyst" analyst.id %}">Write a review <i class="fa fa-pencil"></i></a>
        </div>
      </div>

      <div class="reviews-container col-md-9">
        <!-- <ul class="nav nav-tabs">
          <li class="active"><a href="#reviews">Reviews</a></li>
          <li class=""><a href="#reports">Reports</a></li>
        </ul> -->
        <div class="reviews-title">Client Reviews</div>
        <div id="sort">
            <div class="sort-option active">
              Most Helpful
            </div>
            <div class="sort-option">
              Best Rating
            </div>
            <div class="sort-option">
              Most Reviewed
            </div>
        </div>
        <div class="reviews-list">
          {% if reviews %}
            {% for review in reviews %}
              <div class="row review">
                <div class="col-md-2">
                  <div class="star-rating"></div>
                  <div class="rating-wrapper">
                    <div class="description">Insight and Vision</div>
                    <div class="rating-bar"></div>
                    <div class="description">Customer Insight</div>
                    <div class="rating-bar" style="width: 80px"></div>
                    <div class="description">Quality of Content</div>
                    <div class="rating-bar" style="width: 40px"></div>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="review-headline">
                    {% if not review.is_anonymous and review.author.get_profile.avatar %}
                      <img src="{{ review.author.get_profile.avatar.url }}" class="img-rounded">
                    {% else %}
                      <img src="http://paddocks.kwiksta.com/files/profile/default.jpg" class="img-rounded">
                    {% endif %}
                    <div class="review-title">
                      <div class="strength-wrapper">Best used for
                        <span class="strength">{{ review.best_strength }}</span>
                      </div>
                      <div>Reviewed by anonymous</div>
                    </div>
                  </div>
                  <div class="review-content">
                    <i class="fa fa-quote-left fa-border"></i>
                    {{review.content}}
                  </div>
                  <div class="helpful">
                    <span>Was this review helpful?</span>
                    <span class="feedback"><a>Yes</a> | <a>No</a></span>
                  </div>
                </div>
              </div>

              {% if not forloop.last %}
                <div class="divider"></div>
              {% endif %}
            {% endfor %}
          {% else %}
            <div class="no-reviews">There are currently no reviews.</div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
{% endblock %}