{% extends "base.html" %}

{% block head %}
  {% load scss %}
  <link href="{{ STATIC_URL }}{% scss 'scss/home.scss' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="hero">
    <div class="hero-layer">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="main-text">Analyst</div>
            <div class="sub-text">Revolutionizing some garbage</div>
            <div class="row search-row">
              <form>
                <div class="col-md-6">
                  <input class="form-control" placeholder="Find an Analyst"/>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-primary btn-block">Search</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section1">
    <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-1 columns">
            <div class="title">Need an easy way to do garbage?</div>
            <div class="sub-text">Revolutionizing some garbage your way.</div>
            <div class="description">
              Whether you want to fill this paragraph with some text like I'm doing right now,
              this place is perfect to describe some features or anything you want. I like to eat burgers and fries
              together.
            </div>

          </div>
          <div class="col-md-6 col-img">
            <center>
            <i class="fa fa-trash-o"></i>
            </center>
          </div>
        </div>
      </div>
  </div>
{% endblock %}