{% extends "base.html" %}

{% load extra_filters %}

{% block head %}
  {% load scss %}
  <link href="{{ STATIC_URL }}{% scss 'scss/analyst.scss' %}" rel="stylesheet">
  <link href="{{ STATIC_URL }}{% scss 'scss/category_page.scss' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="hero">
    <div class="hero-layer">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="main-text">Analysts</div>
            <div class="sub-text">Make recommendations to develop your business.</div>
            <div class="row search-row">
              <form action="{% url "search" %}">
                <div class="col-md-6">
                  <input class="form-control" placeholder="Find an Analyst"/>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-primary btn-block">Search</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section1">
    <div class="container">
      <div class="contentHeader">Analyst Reviews</div>
      {% for analyst in analysts %}
        <div class="row border">
          <div class="col-md-2 columns img-col">
            {% if analyst.photo %}
              <img src="{{ analyst.photo.url }}" class="img-rounded avatar">
            {% else %}
              <img src="http://paddocks.kwiksta.com/files/profile/default.jpg" class="img-rounded avatar">
            {% endif %}
          </div>

          <div class="col-md-3 columns">
            <div class="name"><a href={{ analyst.pk }}>{{ analyst.first_name }} {{ analyst.last_name }}</a></div>
            <div class="firm">{{ analyst.analyst_firm.name }}</div>
            <div class="rating">
              {% if analyst.average_rating %}
                {% for i in analyst.average_rating|floatformat:0|get_range %}
                  {# for loop to add filled stars #}
                  <img src="{{ STATIC_URL }}plugins/raty-2.5.2/img/star-on.png" class="star-img"/>
                {% endfor %}
                {% for i in analyst.average_rating|floatformat:0|get_subtracted_range_by_5 %}
                  {# for loop to add empty stars #}
                  <img src="{{ STATIC_URL }}plugins/raty-2.5.2/img/star-off.png" class="star-img"/>
                {% endfor %}
              {% else %}
                <span class="no-rating">No rating available.</span>
              {% endif %}
            </div>
          </div>

          <div class="col-md-7 columns">
            <div class="review">
              <div class="header">
                Recent Review
              </div>
              <div class="review-text">
                {% if analyst.recent_review.content %}
                  <i class="fa fa-quote-left fa-border"></i> {{ analyst.recent_review.content }}
                {% else %}
                  <span class="no-review">No review available.</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="seeMore">See All Analyst Reviews</div>
    </div>
  </div>
{% endblock %}