{% extends "base.html" %}

{% block head %}
  {% load scss %}
  <link href="{{ STATIC_URL }}{% scss 'scss/home.scss' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="hero">
    <div class="hero-layer">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="main-text">Discover your marketing mojo</div>
            <div class="sub-text">Find the best marketing solutions for your company</div>
            <div class="row search-row">
              <form action="{% url "search" %}">
                <div class="col-md-6">
                  <input name="query" class="form-control" placeholder="Find an Analyst, Analyst Firm, etc."/>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-primary btn-block">Search</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section1">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1 columns">
          <div class="title">Take your marketing to the next level</div>
          <!--div class="sub-text">Revolutionizing some garbage your way.</div-->
          <div class="description">
            Companies use reviews on uClarify to raise their PR above their competitors. Leverage the marketing
            community
            to find the best one for your business.
          </div>

        </div>
        <div class="col-md-6 col-img">
          <center>
            <i class="fa fa-comment-o"></i>
          </center>
        </div>
      </div>
    </div>
  </div>
{% endblock %}